.CardDesign {
    max-width: 500px;
    min-width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(64, 64, 64, 0.1) 25%, rgba(255, 255, 255, 0.4) 100%);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    align-self: center;
}

.CardDesign:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.CardDesign:hover img {
    transform: translateY(-20px);
}

.CardDesign img {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background-position: center;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.CardDesign h3 {
    color: white;
    font-size: 30px;
    margin: 20px 0 0 20px;
    width: 80%;
}

.CardDesign p {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    align-self: end;
    justify-self: start;
    background-color: #00adee;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 20px 20px;
}

.date {
    color: #6297BA;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    align-self: end;
    justify-self: start;
    background-color: #F1FBFF;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 20px 20px;
}