.footer-mobile {
  display: inline-flexbox;
  background: #00adee;
  padding: 1rem 5vw;
  color: white;
  margin-top: 50px;
  width: 100vw;
}

.social-wrapper-footer-mobile {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-items: center;
  font-size: xx-large;
  width: 100%;
}

.social-wrapper-footer-mobile a {
  color: white;
}

.social-item-mobile {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  margin: 5px;
}