.singleContent {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.singleTitle {
    font-size: 2rem;
    font-weight: 700;
    color: #384955;
}

.singleImage {
    width: 90%;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wordpressContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    justify-items: center;
}

.wordpressContent p {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.wordpressContent video {
    align-self: center;
}

.wp-block-video {
    display: flex;
    flex-direction: column;
}

.wordWrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

#dslc-theme-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dslc-theme-content-inner {
    max-width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dslc-theme-content p {
    align-self: center;
}